autostart
blender
BraveSoftware
Bridge
cosmic
dconf
discord
Electron
GIMP
go
google-chrome
gtk-2.0
gtk-3.0
gtk-4.0
htop
hypr
kitty
mako
matplotlib
mimeapps.list
nautilus
neofetch
NVIM-Config
ObinsKit
obsidian
procps
pulse
qt6ct
Slack
spotify
starship.toml
swaylock
Ultralytics
user-dirs.dirs
user-dirs.locale
waybar
wofi
xfce4
yay
